@import "/src/scss/var";
.bredCrumb {
  min-height: 325px;
  background-color: #f2f4f5;
}
.myProfileWrapper {
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px #f1f4f580;
  min-height: 500px;
  margin-top: -200px;
  padding: 5rem;
  border-radius: 5px;
  .headerTitleWrapper {
    text-align: center;
    .title {
      color: $primary;
    }
    .desc {
      color: $primary;
    }
  }
  .contentWrapperFooter {
    width: 50%;
    margin: 2rem auto 0;
    text-align: center;
  }
  .contentWrapper {
    width: 50%;
    margin: 2rem auto 0;
    .itemListValue {
      color: $secondary;
    }
    ul {
      display: initial;
      li {
        border-top: 1px solid #eaeced;
        .itemTitle {
          color: #051440;
        }
      }
    }
  }
}
