.modalIcon {
  display: flex;
  width: 100%;
  justify-content: center;
}
.modalTitle {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.modalSubTitle {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
