@import "./../../../scss/var";
.tableWrap {
  margin-top: 1rem;
}
.pagination {
  .pagination_type_mobile {
    width: 130px;
    height: 30px;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0 6px;
  }
  :global {
    .form_control {
      .form_input,
      .form_select {
        .MuiOutlinedInput-input {
          &:not(.MuiAutocomplete-input, .MuiInputBase-inputMultiline) {
            padding: 5px 14px;
            height: 100%;
          }
        }
      }
    }
  }
}
:global {
  .pageHeadCustom {
    margin-bottom: 0 !important;
  }
}
