@import "/src/scss/var";

.resetPasswordContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $modelColor;
  //   @include max(425) {
  //     width: fit-content;
  //   }
  .resetPasswordWrapper {
    width: 500px;
    background: #fff;
    padding: 3rem 5rem;
    border-radius: 10px;
    @include max(567) {
      width: 80%;
      padding: 4rem 3rem;
      max-height: 500px;
      overflow-y: auto;
    }
    @include max(425) {
      width: 70%;
      padding: 4rem 2rem;
      margin: 0 auto;
    }
    .formControl {
      margin-bottom: 1.5rem;
    }
  }
  .logoWrapper {
    display: grid;
    justify-content: center;
    .headerTitle {
      margin: 2rem 0;
    }
    img {
      @include max(567) {
        width: 100%;
      }
    }
    h2 {
      margin-bottom: 10px;
      color: $primary;
      text-align: center;
    }
    p {
      margin: 0;
      text-align: center;
    }
  }
}
@include max($md) {
  .mainLogo {
    width: 250px;
  }
}

@include max(530) {
  .mainLogo {
    width: 200px;
  }
}

@include max($sm) {
  .mainLogo {
    width: 80%;
  }
}
