$primary: #0e2b3a;
$secondary: #768f99;
$white: #ffffff;
$black: #000000;
$lineBg: rgba(118, 143, 153, 0.3);
$canvasBg: #f9f9f9;
$modelColor: #eeeeee;
$error: #d32f2f;

$sm: 440;
$md: 768;
$lg: 1024;
$xl: 1240;

// font size
$fontXsm: 12px;
$fontSm: 14px;
$fontMd: 16px;
$fontLg: 18px;
$fontXl: 20px;
$font2Xl: 22px;

// font weight
$fontNormal: 400;
$fontBold: 500;
$fontExtraBold: 600;

@mixin min($value) {
  @media screen and (min-width: ($value + 1 + "px")) {
    @content;
  }
}
@mixin max($value) {
  @media screen and (max-width: ($value + "px")) {
    @content;
  }
}
@mixin minMax($min, $max) {
  @media (min-width: ($min + "px")) and (max-width: ($max + "px")) {
    @content;
  }
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin row($width, $space, $gap, $jc) {
  --width: #{$width};
  --space: #{$space};
  --gap: #{$gap};
  --jc: #{$jc};
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--jc);
  margin: 0 calc(-1 * var(--space));
  gap: var(--gap) 0;
  > * {
    padding: 0 var(--space);
    flex-basis: var(--width);
    max-width: var(--width);
  }
}
