@import "/src/scss/var";

@font-face {
  font-family: "TiltNeon";
  src: url("/src/assets/fonts/TiltNeon.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue";
  src: url("/src/assets/fonts/BebasNeue.ttf") format("truetype");
}

.colorPalletWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colorViewer {
  height: 20px;
  min-width: 20px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Color component styles
.colorWrap {
  .mainColorViewer {
    margin-right: 20px;
  }

  :global {
    .MuiAccordionSummary-content {
      display: flex;
      align-items: center;
    }
  }
}

// Number component styles
.numberWrap {
  .addNumberWrap {
    display: flex;
    gap: 10px;
  }
  .layers {
    display: flex;
    gap: 6px;
    .imgWrap {
      cursor: pointer;
      border-radius: 4px;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(118, 143, 153, 0.2);
      &.selected {
        border: 1px solid $primary;
      }
    }
  }
  .numberInput {
    margin-top: 20px;
    margin-left: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid $primary;
    padding: 5px 10px;
    font-weight: $fontBold;
    font-size: $fontSm;
    outline: none;
  }
  :global {
    .MuiAccordionSummary-content {
      font-size: $fontMd;
      font-weight: $fontExtraBold;
      color: $primary;
    }
  }
  .fontWrap {
    & > * {
      cursor: pointer;
      padding: 10px 0;
      font-size: $fontLg;
      &.selected {
        border: 1px solid $secondary;
        border-radius: 6px;
        margin: 0 -6px;
        padding-left: 5px;
      }
    }
    .fontItem2 {
      font-family: "TiltNeon";
    }
    .fontItem3 {
      font-family: "BebasNeue";
    }
  }

  .fontColorWrap {
    .buttonWrap {
      display: flex;
      gap: 15px;
      :global {
        .btn {
          border-radius: 2px;
          min-width: 60px;
          min-height: 28px;
          font-size: $fontXsm;
          font-weight: $fontExtraBold;
        }
      }
    }
    .colorPalletWrap {
      margin-top: 20px;
    }
  }
}

// Name components styles
.nameWrap {
  .numberInput {
    margin: 0;
    width: 90%;
  }
}
