@import "/src/scss/var";

@font-face {
  font-family: "TiltNeon";
  src: url("/src/assets/fonts/TiltNeon.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue";
  src: url("/src/assets/fonts/BebasNeue.ttf") format("truetype");
}
@font-face {
  font-family: "BlaakRegular_PERSONAL";
  src: url("/src/assets/fonts/BlaakRegular_PERSONAL.ttf") format("truetype");
}
@font-face {
  font-family: "Freshman";
  src: url("/src/assets/fonts/Freshman.ttf") format("truetype");
}
@font-face {
  font-family: "Impact";
  src: url("/src/assets/fonts/Impact.ttf") format("truetype");
}
@font-face {
  font-family: "MachineRegular";
  src: url("/src/assets/fonts/MachineRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-VariableFont_wght";
  src: url("/src/assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "SawarabiGothic-Regular";
  src: url("/src/assets/fonts/SawarabiGothic-Regular.ttf") format("truetype");
}

.colorPalletWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colorViewer {
  height: 20px;
  min-width: 20px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Design component styles
.designWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  overflow: auto;
  max-height: 82vh;
  padding: 10px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #888 #f1f1f1;

  .imgWrap {
    cursor: pointer;
    border-radius: 4px;
    width: 185px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(118, 143, 153, 0.2);
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
    &.selected {
      border: 1px solid $primary;
    }
  }
}
.designWrap::-webkit-scrollbar-thumb:vertical {
  background-color: #888;
  border-radius: 10px; /* Change the radius value to your preference */
}
// Color component styles
.colorWrap {
  .mainColorViewer {
    margin-right: 20px;
  }

  :global {
    .MuiAccordionSummary-content {
      display: flex;
      align-items: center;
    }
  }
}

// Pattern component styles
.patternWrap {
  .contentWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 300px;
    overflow: auto;
    .imgWrap {
      cursor: pointer;
      border-radius: 4px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(118, 143, 153, 0.2);
      img {
        background: rgb(216, 216, 216);
        max-height: 90%;
        max-width: 90%;
      }
      &.selected {
        border: 1px solid $primary;
      }
      &:hover {
        border: 1px solid $primary;
      }
    }
  }
}

// Number component styles
.numberWrap {
  .addNumberWrap {
    display: flex;
    gap: 10px;
  }
  .layers {
    display: flex;
    gap: 6px;
    .imgWrap {
      cursor: pointer;
      border-radius: 4px;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(118, 143, 153, 0.2);
      &.selected {
        border: 1px solid $primary;
      }
      img {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }
  .numberInput {
    margin-top: 20px;
    margin-left: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid $primary;
    padding: 5px 10px;
    font-weight: $fontBold;
    font-size: $fontSm;
    outline: none;
  }
  :global {
    .MuiAccordionSummary-content {
      font-size: $fontMd;
      font-weight: $fontExtraBold;
      color: $primary;
    }
  }
  .fontWrap {
    & > * {
      cursor: pointer;
      padding: 10px 0;
      font-size: $fontLg;
      &.selected {
        border: 1px solid $secondary;
        border-radius: 6px;
        margin: 0 -6px;
        padding-left: 5px;
      }
    }
    .fontItem2 {
      font-family: "TiltNeon";
    }
    .fontItem3 {
      font-family: "BebasNeue";
    }
    // .fontItem4 {
    //   font-family: "BlaakRegular_PERSONAL";
    // }
    .fontItem5 {
      font-family: "Freshman";
    }
    .fontItem6 {
      font-family: "Impact";
    }
    .fontItem7 {
      font-family: "MachineRegular";
    }
    .fontItem8 {
      font-family: "Oswald-VariableFont_wght";
    }
    .fontItem9 {
      font-family: "SawarabiGothic-Regular";
    }
  }

  .fontColorWrap {
    .buttonWrap {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      :global {
        .btn {
          border-radius: 2px;
          min-width: 60px;
          min-height: 28px;
          font-size: $fontXsm;
          font-weight: $fontExtraBold;
        }
      }
    }
    .colorPalletWrap {
      margin-top: 20px;
    }
  }
}

// Name components styles
.nameWrap {
  .numberInput {
    margin: 0;
    width: 90%;
  }
  .textLayerWrap {
    margin-bottom: 15px;
    :global {
      .MuiFormGroup-root {
        display: flex;
        flex-direction: row;
        gap: 5px;
        > * {
          margin: 0;
          flex-basis: 48%;
          svg {
            height: 20px;
            width: 20px;
          }
        }
      }
      .MuiButtonBase-root {
        padding: 5px;
      }
      .MuiTypography-root {
        font-size: 14px;
        font-weight: 500;
        color: $primary;
      }
    }
  }
}

// Gradient components styles
.gradientWrap {
  .buttonWrap {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: space-between;
    :global {
      .btn {
        border-radius: 2px;
        min-width: 60px;
        min-height: 28px;
        font-size: $fontXsm;
        font-weight: $fontExtraBold;
      }
    }
  }
  .gradientViewer {
    border: 1px solid $secondary;
    border-radius: 2px;
    height: 31px;
    width: 71px;
  }

  .scaleAngleWrap {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    .sliderWrap {
      span {
        color: $white;
        font-size: $fontXsm;
        font-weight: $fontExtraBold;
      }
      border-radius: 2px;
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: 10px;
      background-color: $secondary;
      padding: 12px 15px 12px 10px;

      :global {
        .rc-slider-handle {
          border: none;
          background: $primary;
          height: 11px;
          width: 11px;
          margin-top: -3px;
          box-shadow: none;
          opacity: 1;
        }
        .rc-slider-track {
          background: $primary;
        }
      }
    }
  }
}

// Logo components styles
.logoWrap {
  margin-top: 10px;

  .imageWrap {
    position: relative;
    padding: 10px;
    border-radius: 4px;
    background: rgba(118, 143, 153, 0.1);
    margin-top: 20px;
    @include flexCenter;

    .selectedImg {
      max-width: 100%;
      max-height: 200px;
    }
    .crossImg {
      position: absolute;
      top: -5px;
      right: -3px;
      cursor: pointer;
    }
  }
  .sliderWrap {
    display: flex;
    align-items: center;
    gap: 10px;
    :global {
      .rc-slider-handle {
        border: none;
        background: $primary;
        height: 11px;
        width: 11px;
        margin-top: -3px;
        box-shadow: none;
        opacity: 1;
      }
      .rc-slider-track {
        background: $primary;
      }
    }
  }
  .uploadWrap {
    @include flexCenter;
    gap: 10px;

    .textWrap {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .text1 {
        color: $primary;
        font-size: $fontMd;
        font-weight: $fontExtraBold;
      }
      .text2 {
        font-size: $fontXsm;
      }
    }
  }
}
